.App {
  text-align: center;
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h1 {
  text-align: left;
}

.title-container {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.title-container--title {
  margin-right: auto;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.nav {
  margin-left: 8px;
}

.nav-link {
  margin-left: 4px;
  margin-right: 4px;
}

@media (min-width:600px) {
  .products--item {
      width: calc(50% - 16px);
  }
}

@media (min-width:1000px) {
  .products--item {
      width: calc(33% - 16px);
  }
}

@media (min-width:1600px) {
  .products--item {
      width: calc(25% - 16px)
  }
}